services:
  postgres:
    container_name: pf_postgres
    image: postgres    
    environment:
      POSTGRES_DB: pet_family
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5434:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    restart: unless-stopped

  seq:
    container_name: pf_seq
    image: datalust/seq:latest       
    environment:
      - ACCEPT_EULA=Y
      - SEQ_FIRSTRUN_ADMINPASSWORD=12345
    ports:
      - "5341:80"
      - "5342:5341" 
    restart: unless-stopped

  minio:
    container_name: pf_minio
    image: minio/minio
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio-data:/data
    command:
      server /data --console-address ":9001"
    restart: unless-stopped

volumes:
  postgres-data:
  minio-data: